---
layout: base
title: Barn Setup
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>

<style>
#gallery>.row>a>img {
  margin-bottom: 10px;
}
#gallery>.row>a>img:hover {
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.7);
}
.image-description {
  color: white;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}
</style>


<div class="container-fluid pt-2 bg-light">
  <div class="container py-1" style="background-color: white;">

    <h1 class="my-3 pb-2">Barn Setup</h1>
    <hr>
    <div class="row justify-content-center">
      <div id="gallery" class="col-md-8 p-4">
        <h3>About the Automatic Trough System</h3>
        <p class="lead">We have a new “state of the art” barn for our birds. My husband has set up an automatic trough system that has decreased our nightly chore workload immensely! The troughs now fill up with fresh water by themselves, and we can empty them out at the end of the day through the pull of one valve. Feather quality has improved immensely.</p>
        <p class="lead">Below we detail our setup of this system, as well as the barn in general. Take a look below!</p>
        <hr>

        <h4 class="py-2">Putting in Troughs</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/putting_troughs_in.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>Putting the troughs in. We spent a lot of time getting these troughs completely level. It was very important to do that because if they were even slightly unlevel, the trough system would not work properly &mdash; if at all.</p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Other Side of Troughs</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/backside_of_troughs.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>Here are the back of the troughs. Plumbed into these is the fresh water trough system.</p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Trough Drainage</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/water_drain_line.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>
              We wanted to make the process of cleaning the barn easier and more automated. To do this, we plumbed in one main drain line that can be drained through one valve at the end of the night.
              <br><br>
              <strong>#1</strong> Pictured here is the drain line that hooks into each trough. This main drain line has to have a very slight downhill slope in order to drain all of the water from the troughs.
              <br><br>
              <strong>#2</strong> The black valve box pictured near the front of the picture houses a valve that, when pulled up, will drain the entire system in the barn of all water. This makes the entire cleaning process for the ducks 90% completed. All that is left to do after this is pulled is to hose off the outside concrete pads, which will be shown later.
              <br><br>
              <strong>#3</strong> Pictured here is the overflow line. This is just the vertical part of the overflow. Later on we added a horizontal pipe that leads into the exit line. This is plumbed such that if the level in the troughs reaches a level where they would flood the barn, the water would automatically flow out of this pipe and into the exit line.
              <br><br>
              <strong>#4</strong> Pictured here is the exit line for the drain.
            </p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Drain Valve</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/pull_up_valve.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>Here is a close-up of the drain valve that sits inside of the valve box. This is the only valve you have to open and close at the end of the day when the barn needs cleaned. By pulling this up, you drain the entire barn from any water that was in the system throughout the day, including the trough water the ducks swam in throughout the day. When you are done cleaning, you simply shut the valve by pushing down and the water begins collecting throughout the barn overnight and is full before the next morning.</p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Other Side of Troughs</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/water_drain_line_other_side.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>Here is a picture from the other side of the drain line.</p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Overflow Line</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/horizontal_overflow_line.png'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>Here is a picture of the horizontal pvc pipe added to the vertical overflow line. This ensures that if the water level in the troughs would ever be at a level where the barn would flood, the excess water would go through this line and out the drain instead of overflowing into the barn.</p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Concrete Poured</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/covered_in_concrete.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>Now that all of the plumbing was completed, it was time for concrete to be poured. An important step in completing this was to <strong>fill the entire system with water</strong>. If this was not done, all of the plumbing that is buried under dirt would <strong>pop up like a bobber</strong> to the top of the concrete. Filled with water, the system would be heavy enough to stay level and not move.
            <br><br>
            <strong>#1</strong> Pictured here will be the inside waters that will be inside of each pen. These will be cut level to the concrete to let the ducks and chickens stick their beaks into it and get water.
            <br><br>
            <strong>#2</strong> These are the troughs. Later on we cut these in half level with the concrete to form a trough to let the ducks drink from and swim in during the day.</p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Siding Up</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/siding_up_outside_pens.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>We had siding installed to the outside of the barn. With the siding installed, we needed a way for the birds to get from their pens in the barn to their outside pens. We did this by having a hole cut in each pen, and creating a door the would slide up and down along a wooden rail with a latch on top to hold it in the up position.
            <br><br>
            <strong>#1</strong> Here you can see each hole that was cut for the ducks to be able to walk through freely throughout the day.
            </p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Siding Up &mdash; Another View</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/outside_pens_with_siding.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>Here is another view of the outside pens with new LED light fixtures that were installed by us.</p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Cut the Pipes into Troughs</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/outside_pens_inside.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>From this picture you can see that we have cut the pipes that were running through each pen in half to create troughs! We have a drain cover on each side of the trough that would inhibit ducks from swimming into the drain pipe and getting stuck. We have also put up hardware cloth along the outside of the pens, as well as put in high-tensile cattle fence between the pens to separate each pen's ducks from one another.</p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Outside Pens &mdash; Another View</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/outside_pens_outside.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>Here is another view of the outside pens. From here you can see the doors that we have installed.</p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Inside Pens</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/inside_pens.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>Here you can see the inside pens that connect to the pens outside through their door. We have put high tensile cattle fence from the floor to above the doors to hopefully discourage any birds flying out of their pens and into the main barn.</p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Duck Door</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/duck_doors.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>Here you can see the duck door that separates the inside pens from the outside pens more clearly, as well as the wooden rail system it slides up and down on.</p>
          </div>
        </div>

        <h4 class="pt-2 pb-1">Rolling Door</h4>
        <div class="row">
          <div class="col-lg-6 col-xl-4 text-center">
            {% include
              plain_image_card.html
              image_url='static/img/barn/rolling_door.jpg'
              header=''
              description=''
              gallery='barn_gallery'
            %}
          </div>
          <div class="col-lg-6 col-xl-8 pt-2">
            <p>Installed in our new barn is a rolling door that rolls up above your head. This door comes with an optional motor that you can attach to the pull chain that would automatically roll the door up for you, though we did not opt for that option. These doors are great because it allows for a very large barn door without needing a lot of wall-space to open the traditional sliding barn door up.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                  alwaysShowClose: true,
                });
            });
</script>
