<!-- FOOTER -->
<footer class="footer px-2 pt-2 bg-light">
  <div class="row">
    <div class="col-6">
      <small class="float-left">&copy; <script>document.write(new Date().getFullYear())</script> Phelps Waterfowl</small>
    </div>
    <div class="col-6">
      <small class="float-right">site by <a href="http://potts.solutions/">potts.solutions</a></small>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <small><a href="mailto:phelpswaterfowl@gmail.com">Email Us<i class="pl-2 fa fa-envelope"></i></a></small>
    </div>
    <div class="col-6 text-right">
      <small><a href="https://facebook.com/phelpswaterfowl">Find us on Facebook<i class="pl-2 fa fa-facebook"></i></a></small>
    </div>
  </div>
</footer>
